:root {
    --radius: 10px;
    --padding: 5px;
}



.container {
    background-color: aliceblue;
    height: 115vh;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 5fr 3fr;
    
    grid-template-areas:
        "header"
        "nav"
        "membership"
        "footer";
    
    grid-gap: 1rem;
    font-family: "Trebuchet MS";
}





header {
    background: lightgreen;
    grid-area: header;
    border-radius: var(--radius);
    padding: var(--padding);
    
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}


header img {
    margin: 5px;
    border-radius: var(--radius);
}


header h1 {
    font-weight: bold;
    font-size: 300%;
    color: darkslategray;
    text-align: center;
}


        

        

nav {
    background: #dcde5b;
    grid-area: nav;
    border-radius: var(--radius);
    padding: var(--padding);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav a:link {
    color: #f00e65;
}

nav a:visited {
    color: #f00e65;
}

nav a:hover {
    color: #12c5cc;
}




#membership {
    background: lightblue;
    grid-area: membership;
    border-radius: var(--radius);
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

#membership table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

#membership table, #membership th, #membership td {
    border: 1px solid black;
}

#membership th, #membership td {
    padding: 8px;
}





footer {
    background: #dcde5b;
    grid-area: footer;
    border-radius: var(--radius);
    padding: var(--padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    font-weight: bold;
    font-size: 14pt;
    color: darkslategray;
    margin: 15px 0;
}

.sponsor-images ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sponsor-images ul li {
    display: inline-block;
    margin: 0 25px;
}

.sponsor-images img {
    height: 100px;
    width: auto;
}